.skills {
    height: 730px;
    background-color: #647c90;
    border-bottom: 10px solid #000000
}

.skills .display {
    display: flex;
    margin-bottom: 40px;
}

.skills .img {
    display: inherit;
    aspect-ratio: 1;
    width: auto;
    height: 90px;
    margin-right: 25px;
}

.skills .title {
    padding-left: 690px;
    padding-top: 50px;
    padding-bottom: 70px;
}