.skills {
    height: 730px;
    background-color: #647c90;
    border-bottom: 10px solid #000000
}

.skills .display {
    display: flex;
    margin-bottom: 40px;
}

.skills .title {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 70px;
}